<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    {% apply inline_css(source('@email_css/welcome.css')) %}

    <h1> {{ username }}, vous avez fais une demand de réinitialisation de mot de passe</h1>
    <p>Pour finaliser votre demande vous pouvez cliquer sur le lien ci-dessous</p>
    <a href="{{ url('reset_password', {token: token}) }}">Changer mon mot de passe</a>

    {% endapply %}
</body>
</html>