<div class="d-flex flex-col mr-20 align-center">
	<i class="fas fa-arrow-up  {{ rating > 0 ? " rating-up" : '' }}"></i>
	<p {% if rating > 0 %} 
            class="rating-up text-small" 
        {% elseif rating < 0 %} 
            class="rating-down text-small" 
        {% else %} 
            class="text-small" 
        {% endif %} >{{ rating }} 
    </p>
    <i class="fas fa-arrow-down  {{ rating < 0 ? " rating-down" : '' }}"></i>
</div>