@use '../mixin' as *;

/* header */

header {
    box-shadow: var(--box-shadow);
}

.logo {
    max-width:160px;
}

.logo img {
    max-width:160px;
}

.search {
    margin: 0 10px;
    border-radius: var(--border-radius);
    background-color: var(--gray-light);
    max-width: 400px;
    position: relative;
    @include md {
        display: none;
    }
    &-loading {
        height:  30px;
    }
    &-result {
        position: absolute;
        width: 100%;
        top: calc(100% + 10px);
        left: 0px;
        background-color: white;
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        border: var(--border);
        padding: 10px;
        a {
            padding: 10px;
        }
    }
}

.search input {
    border: 0;
    outline: 0;
    height: 30px;
    background-color: var(--gray-light);
}

.burger {
    font-size : var(--font-size-large);
    color: var(--primary);
}

.menu-md {
    margin: 5px;
    color: var(--primary);
    font-size: var(--font-size-medium);
    a {
        margin: 10px 15px;
    }
    a:hover {
        text-decoration: underline;
    }
    border-bottom: var(--border);
    box-shadow: var(--box-shadow);
}