@use '../mixin' as *;

/* header */

header {
    box-shadow: var(--box-shadow);
}

.logo {
    max-width:160px;
}

.logo img {
    max-width:160px;
}

.search {
    margin: 0 10px;
    border-radius: var(--border-radius);
    background-color: var(--gray-light);
    max-width: 400px;
    @include md {
        display: none;
    }
}

.search input {
    border: 0;
    outline: 0;
    background-color: var(--gray-light);
}

.burger {
    font-size : var(--font-size-large);
    color: var(--primary);
}

.menu-md {
    margin: 5px;
    color: var(--primary);
    font-size: var(--font-size-medium);
    a {
        margin: 10px 15px;
    }
    a:hover {
        text-decoration: underline;
    }
    border-bottom: var(--border);
    box-shadow: var(--box-shadow);
}